In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import json

C:\Users\LENOVO\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
# here you add your datas 
df1=pd.read_csv("D:\\indexation\\cbir\\output_data1000.csv")
df2=pd.read_csv("D:\\indexation\\cbir\\output_databacc.csv")
df3=pd.read_csv("D:\\indexation\\cbir\\output_datagad.csv")

In [6]:
data = pd.concat([df1, df2, df3])

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6018 entries, 0 to 6017
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     5952 non-null   float64
 1   ImageID        6018 non-null   object
 2   OriginalURL    6018 non-null   object
 3   OriginalSize   6018 non-null   object
 4   OriginalMD5    6018 non-null   object
 5   tags           6018 non-null   object
 6   Feature_array  6018 non-null   object
dtypes: float64(1), object(6)
memory usage: 329.2+ KB

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13129 entries, 0 to 13128
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     13000 non-null  float64
 1   ImageID        13129 non-null  object
 2   OriginalURL    13129 non-null  object
 3   OriginalSize   13129 non-null  object
 4   OriginalMD5    13129 non-null  object
 5   tags           13129 non-null  object
 6   Feature_array  11604 non-null  object
dtypes: float64(1), object(6)
memory usage: 718.1+ KB

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17573 entries, 0 to 17572
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     17400 non-null  float64
 1   ImageID        17573 non-null  object
 2   OriginalURL    17573 non-null  object
 3   OriginalSize   17573 non-null  object
 4   OriginalMD5    17573 non-null  object
 5   tags           17573 non-null  object
 6   Feature_array  15604 non-null  object
dtypes: float64(1), object(6)
memory usage: 961.1+ KB

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33226 entries, 0 to 17572
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ImageURL  33226 non-null  object
 1   Tags      33226 non-null  object
 2   Vector    33226 non-null  object
dtypes: object(3)
memory usage: 1.0+ MB

In [11]:
data.dropna(subset=['Feature_array'],inplace=True)

In [12]:
new_column_names = {
    'Unnamed: 0': 'imageId',
    'ImageID':'OriginalMDS',
    'OriginalURL':'ImageURL',
    'OriginalSize':'Size' ,
    'tags':'Tags',
    'Feature_array':'Vector'
}

In [14]:
data.rename(columns=new_column_names, inplace=True)

In [19]:
data.drop(columns=['OriginalMD5'],inplace=True)

In [21]:
output_csv = "D:\\indexation\\cbir\\output_data1002.csv"
data.to_csv(output_csv,index=False)